{
	"data": "ENC[AES256_GCM,data:iCSsmcnigACggkZrrmn+T7WHQ+qvgTFTRmfkIJwaPEub8FQ0fkGjfvTia3gQJAUKnib0lbIE9tR8xmRkUm4tFE8HFP/bRkI6XIo3iehyI+u2JVvjqNj/XV+zFJINhUNyTjxWKQnGNg+UOM4TD91u2xb5cHKsGsZt+NujHF1kSIacKXixgatJZ+OP/S90uO1nvg==,iv:epLKuJcmwtf9uZMMAolhbGgyPhcVBUCLO/RNJDDdvZQ=,tag:ay6wLxFueOZp50tLDrFpmw==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBRUWVYZ0M2QkR3TElxa2Ex\nV0NZVEx2TUZNU1JaRzE4aE1hSWJZNEVGQUVvClpxc3UxcGJCb0crWi9lRVczTW9m\nWW1zVklpQThKcUoxaEorNnE4SFFrVDQKLS0tIEpqOS9yN1JXcytJaCtBN1dJWDJj\ndzZwdmZ3NmN1a2loc1BjVTFEU2FIajQKa5P6qBMCyvtTROb0fPQ5HSoS9TOvNslb\ndBSUFCVTLFE9yukRVtq1MHTgj0VwKJ+h+Ya6wbnnM5Lo2bOLHap5OA==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-03-11T07:09:21Z",
		"mac": "ENC[AES256_GCM,data:9s8pAGgn1ygP9RDaAOT+ouhlU8brUdvvij70m4O2z6SGj/NrwGZrajc6vX6uz4PqfygIHvKvrIL6MerGgPstR8MBJwZU6xDQ1D2R4taFnwMkYWESZWevE9yV5hiixhUIwi5SCu0fL7sZnA/J1c7Cn9h2lvDcxPUoC2TXKD71lQg=,iv:OtRlv1f6Wj5N4RbvXOVciH1qOw7Fic0oGaRkK/YIn/0=,tag:q3ypSA5HOo1D46w4cMrqGA==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.9.4"
	}
}