{
	"data": "ENC[AES256_GCM,data:OKZsPGv9HF4mVTKqPCAxiFZctQqCHmv5Pk2eYLu5Vkq4p5pLfiTU4hj7A+sPMwCnJP4SRBVRTwipPJMmRUQJRNer/QFGpgQiEJj6QCZIQ+t68QO34xhCRqR20z4ak0Ew/d1roG50VGV9AS8Qw0+WSUlVIiJyIXVJestEdCY0a0FaZYpoDlh1vNI1yFJYnOnpog==,iv:PamkjFCjXsTdC2LqodxCg41bQEjPIQU4pBJIaYsbHWo=,tag:Ao4iEEMmZoReu/Jjp9deaQ==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBSSTFYTllVazRHcVFnUDA3\nL1E1cGM4dGovemRtNDg3Qm5JVzhxb3A4NWprCkVrM1NiblgxUVZwV2lFUXI5MnI3\nL3hIMUJRcHFxOHdRdG5wUW0yZDNIc3cKLS0tIGxxVWFXanNzSXlqQTdkVlZWTURm\nYnNsb1J0MWhpRlhzVnJGMTZpeEZKME0K08/ogRDb3hTOpAayiSED7Z1B8ToPBLo5\n6exs4NxZSTRj/aYImstPMMcdaimRqGEfYI3urLR9wQAoyqwsVKHS9Q==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-03-11T16:11:09Z",
		"mac": "ENC[AES256_GCM,data:mMa37LuJFSqTczpjFqR9qdYQ1su5+uGrRisvq6/RTwFBeymP2WyBqiZiHlfEMlPL9qVw0s6MV7yc41//+HoeS26G6NkopKQxQ3nTBM2xIvFgn9W4PXU+tJ5c6QkLmBiAtmapXC/UKAlR0tRZL50G1WvB5rXi9pWQj4jKLq5liO8=,iv:hrPm+sgeZZcfzoGl04Ea9B+PknOOXs5bdC4YPCJrLEQ=,tag:qKZhA7iV0hTohri7LFazYg==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.9.4"
	}
}