{
	"data": "ENC[AES256_GCM,data:DPd4eN5QB7j6dOIXtBsjMM3fHYJAwyeihNBozHpcoPjgNckrNUX5/XlWa1zISOR6s/Hb9ERfhzu1r0sAs2N/xkJxaPgoxecPmAMGqoeWOSWpBQXAiX+zmNzPfQ7yUC9zK5nAMFSm0NAGhGChTsh0yB5AMF4OLVcBYyVBzPJDbQqpQsaOsK7qwrvE/JVbygdoIiE=,iv:4HbyM+b9msijlOl9jMsUkS0N9F+9JZ82HgCgJcctgtI=,tag:uiVl/78erO0XqV2xsWeFQA==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBhQ2VhSTBwQTllUURMVWNp\nYzZTZ293eHB2MGd5QWFKSkpGRWhwVkFJTkMwCmtSdlNaRytiaTlhT1dhMG52QkpV\nczZsUUlrZjJBY2l1WjA3THVNNG9EbEUKLS0tIExqTjlMdDNnY1d3QkNpTmlmQ3FC\nUDI4WU9LN0g0Q2VrSXJaSFF3VjVrbjQKPz9JKCHDzaTRZE9Z6jwlhkIhEqo4HHft\nYOLDSISyM+1gmfh2xNNDcdXjfdcUn/xghSPsgsrySQkp7GSFlPvePw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-03-14T18:25:21Z",
		"mac": "ENC[AES256_GCM,data:Vefk5gu2nA/nvcsx8Uh7LjzCM13YQiQIhih/emkeyZgZKKbwKgkjeIId4K96Qdy3qJfDEByyau8Z5s3Zo3fkUcOG4I+sqHhqIQsrr68rKQ+DcKeTIv9lVCWOiTfr0pgZK9Lfyda+IPtc6W6quFvd292zCQNMIcUYRzCAIND+zgw=,iv:J2VYmMtZw8WnMj5XQuc2vSK9J+/cZw52hllAbRWA4/8=,tag:JKHF9NJ/Gs9ifFR5voh05w==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.9.4"
	}
}
